.hero-slider{
width:100%;
}


.hero-slide{

height:650px;

background-size:cover;

background-position:center;

position:relative;

display:flex;

align-items:center;

}


.overlay{

position:absolute;

inset:0;

background:rgba(0,0,0,.25);

}



.hero-content{

position:relative;

z-index:2;

color:white;

padding-left:8%;

max-width:600px;

}


.hero-content h1{

font-size:90px;

line-height:.9;

font-family:serif;

font-weight:700;

}


.hero-content h1 span{

font-size:55px;

}


.hero-content p{

font-size:28px;

font-style:italic;

}


.offer{

font-size:40px;

margin:25px 0;

font-weight:700;

}


.hero-content a{

background:#ffd400;

color:#111;

padding:15px 40px;

font-size:22px;

font-weight:700;

border-radius:5px;

display:inline-block;

}



@media(max-width:768px){

.hero-slide{

height:500px;

}


.hero-content h1{

font-size:55px;

}


.hero-content h1 span{

font-size:35px;

}

}